.footer__container, .portfolio__container, .header {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-networks__link, .nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: var(--active-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.subscribe-form__btn, .filter__el {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  font-style: normal;
  color: var(--base-color);
  background-color: var(--white-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  border-bottom: 1px solid #ececec;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}

.logo {
  display: inline-block;
  color: #2196f3;
}
.logo__end-part {
  color: #000000;
}
@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 26px 88px 26px 0;
  }
}

.nav__btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}
.nav__btn:hover, .nav__btn:focus {
  color: #2196f3;
}
.nav.is-open + .nav__btn {
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}

.nav__icon {
  fill: currentColor;
}
.nav__icon--close {
  display: none;
}
.nav__btn.is-open .nav__icon--close {
  display: block;
}
.nav__btn.is-open .nav__icon--menu {
  display: none;
}

@media (max-width: 767px) {
  .nav {
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: none;
  }
  .nav.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    width: calc(100% - 30px - 143px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 1.175;
  font-style: normal;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-style: normal;
    color: #212121;
  }
}

@media (max-width: 767px) {
  .nav__item {
    padding-bottom: 32px;
  }
}

.nav__link {
  display: block;
  padding-bottom: 0;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active {
  position: relative;
  color: #2196f3;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
  }
  .nav__link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #2196f3;
    border-radius: 2px;
  }
}

@media (max-width: 767px) {
  .header-contact {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .header-contact__item--tel {
    margin-bottom: 32px;
    order: 1;
  }
  .header-contact__item--mail {
    order: 2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item {
    display: block;
    text-align: center;
  }
}

.header-contact__link {
  text-decoration: none;
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196f3;
}
@media (max-width: 767px) {
  .header-contact__link--tel {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 1.1764705882;
    font-style: normal;
    color: #2196f3;
  }
  .header-contact__link--mail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 1.1666666667;
    font-style: normal;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-style: normal;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact__icon {
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
@media (max-width: 767px) {
  .header-contact__icon {
    display: none;
  }
}

.header-network {
  display: flex;
}
@media (min-width: 768px) {
  .header-network {
    display: none;
  }
}

.header-network__item {
  max-width: 100%;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-network__item:not(:first-child) {
  margin-left: 10px;
}
.header-network__item:last-child {
  border-right: none;
}

.header-network__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.2222222222;
  font-style: normal;
  color: #2196f3;
}
@media screen and (min-width: 320px) {
  .header-network__link {
    font-size: small;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__container {
  padding: 60px 15px;
}
@media screen and (min-width: 480px) {
  .portfolio__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.portfolio__title--hidden {
  display: none;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
  .filter__item:nth-child(3) {
    margin-right: 50px;
  }
  .filter__item:nth-child(-n+3) {
    margin-bottom: 12px;
  }
}

.filter__el {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  box-shadow: none;
}
.filter__el:hover, .filter__el:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .project__el {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project__el {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__el {
    width: calc((100% - 60px) / 3);
  }
}

.project__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__picture {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .project__img {
    width: 100%;
  }
}

.project__overflow {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overflow, .project__link:focus .project__overflow {
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .project__overflow {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .project__overflow {
    padding: 49px 24px 77px;
  }
}

.project__title {
  padding: 20px 24px;
  background-color: #ffffff;
}

.project__name {
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  font-style: normal;
  color: #212121;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: #2f303a;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .footer__container {
    max-width: 480px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    justify-content: space-between;
    text-align: start;
  }
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__end-part {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__list {
    text-align: left;
  }
}

.address__el {
  list-style: none;
}
.address__el:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.address__link--white {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-networks {
    margin-bottom: 60px;
  }
}

.footer-networks__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1428571429;
  font-style: normal;
  color: inherit;
  text-transform: uppercase;
}

.footer-networks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-networks__el {
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: inherit;
  fill: inherit;
}

.footer-networks__link {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks__link:hover, .footer-networks__link:focus {
  background-color: #2196f3;
}

.footer-networks__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
  }
}

.subscribe-form__title {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1428571429;
  font-style: normal;
  color: inherit;
  text-transform: uppercase;
}

.subscribe-form__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  height: 50px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}
.subscribe-form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.subscribe-form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.subscribe-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (max-width: 767px) {
  .subscribe-form__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-bottom: 0;
    max-width: 358px;
    width: 358px;
  }
}

.subscribe-form__btn {
  margin: 0 auto;
  padding: 10px 28px;
  height: 50px;
  min-width: 200px;
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: #188ce8;
}
.subscribe-form__btn::after {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  background-image: url(../images/icons.svg/icon-sendopti.svg);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__btn {
    margin-left: 12px;
  }
}/*# sourceMappingURL=porfolio.css.map */