header {
  border-bottom: $project-border;
  @media screen and (min-width: 480px) {
    position: relative;
  }
}
.header {
  width: 100%;
  
  @extend %container;
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  position: relative;
}

.logo {
  display: inline-block;
  @extend %logo-font;
  color: $active-color;

  &__end-part {
    color: $black-color;
  }
  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 26px 88px 26px 0;
  }
}

.nav__btn {
  margin-left: auto;

  width: 40px;
  height: 40px;

  @extend %flex-centered;
  cursor: pointer;
  background-color: $white-text-color;
  border: none;
  &:hover,
  :focus {
    color: $active-color;
  }
  .nav.is-open + & {
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 15px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav__icon {
  fill: currentColor;

  &--close {
    display: none;
  }
  .nav__btn.is-open &--close {
    display: block;
  }
  .nav__btn.is-open &--menu {
    display: none;
  }
}
