%container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%standart-font {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  font-style: normal;
  color: $base-color;
}

@mixin special-font($weight, $size, $letter-space, $line-height, $color) {
  font-family: "Roboto", sans-serif;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $letter-space;
  line-height: $line-height;
  font-style: normal;
  color: $color;
}

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%logo-font {
  text-decoration: none;
  color: var(--active-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
%background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
%btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $white-text-color;
  background-color: $active-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color $transition-code;
}
